.content {
  width: 1170px;
  margin: auto;
}
.search {
  margin-top: 30px;
  background-color: white !important;
}
.search-button {
  background: #3B55E6;
  color: white;
  height: 34px;
  width: 34px;
  border: none;
  border-radius: 100px;
  margin-left: -45px;
}
.button {
  &.join {
    button {background: linear-gradient(270deg, #4481EB 0%, #04BEFE 100%);}
    margin-top: 30px
  }
  &.right {
    float: right;
  }
  &.left {
    float: left;
  }
  margin: auto;
  margin-top: 10px;
  width: 165px;
  button {
    height: 42px;
    background: #4BE1AB;
    width: 165px;
    border-radius: 100px;
    border: none;
    font-size: 20px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 1px;
    color: #FFFFFF;
  }
}
.logo {
  font-size: 24px;
  line-height: 28px;
  width: 774px;
  margin: auto;
  margin-top: 175px;
}
.item {
  background: #F9FBFF;
  border-radius: 4px;
  vertical-align: top;
  height: 500px;
  position: relative;
  margin-top: 80px;
  .stick {
    font-size: 24px;
    line-height: 14px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    position: absolute;
    top: 40px;
    padding: 10px 15px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    &.profile {
        background-color: #FE5339;
    }
    &.text {
      background-color: #3B55E6;
    }
    &.video {
      background-color: #4BE1AB;
    }
  }
  .picture {
    width: 500px;
    height: 500px;
    // background: red;
    float: left;
  }
  .article {
    // background: green;
    padding-left: 540px;
    height: 100%;
    color: #222328;
    .name {
      font-weight: 900;
      font-size: 32px;
      line-height: 39px;
      padding-top: 50px;
      padding-bottom: 30px;
    }
    .text {
      font-size: 24px;
      line-height: 39px;
      padding-bottom: 20px
    }
    .button {
      position: absolute;
      bottom: 40px;
      .profile {
        background-color: #FE5339;
      }
      .text {
        background-color: #3B55E6;
      }
      .video {
        background-color: #4BE1AB;
      }
    }
  }
}