<main class="home-page">
  <div class="content">

    <div class="header">
      <div class="logo">
        <a href="/"><img class="logo" src="static/inc/i/logo_black.svg" /></a>
      </div>
      <div class="button right join" ng-if="!token">
        <button ng-click="join()">Участвовать</button>
      </div>
      <form class="search" ng-submit="getItems(search)" ng-if="!token">
        <input class="search c4" type="text" ng-model="search" placeholder="образование, деятельность и прочее..."/>
        <button class="search-button" type="submit">
          <img src="/static/inc/i/search.svg" />
        </button>
      </form>
    </div>

    <div class="list" ng-if="items">
      <div class="item" ng-repeat="item in items">
        <div class="stick" ng-class="item.type">{{item.type}}</div>
        <div class="picture">
          <img ng-if="item.photo != ''" ng-src="img/{{item.photo}}"  />
          <img class="no-user" ng-if="item.photo == ''" src="static/inc/i/no-user.svg" />
        </div>
        <div class="article">
          <div class="name">{{item.name}}</div>
          <div class="text-block">Год окончпния школы: {{item.graduated}}</div>
          <div class="text-block">Образование: {{item.university}} </div>
          <div class="text-block">Профессиональная деятельность: {{item.profession}}</div>
          <div class="button" ng-if="item.status == 'published'" >
            <button ng-class="item.type" ng-click="goToProfile(item)">Читать</button>
          </div>
          <div class="button" ng-if="item.status == 'new'" >
            <button ng-class="item.type" ng-click="goToProfileEdit(item)">Модерировать</button>
            <button class="delete" ng-click="removeItem(item)">Удалить</button>
          </div>
        </div>
      </div>
    </div>

    <div class="no-posts" ng-if="!items">
      <img src="/static/inc/i/head.svg" />
      <img src="/static/inc/i/body.svg" />
      <div class="text-block">Нет результатов. Попробуйте другие критерии поиска.</div>
    </div>

    <div class="adminLink" ng-click="goAdmin()" ng-if="!token">Модераторам</div>
    <div class="adminLink" ng-click="logout()" ng-if="token">Выйти</div>
  </div>
</main>